PORT=4100
NODE_ENV=production
# Puedes poner varios separados por coma
CORS_ORIGIN=https://matucash.web.app/,http://localhost:5173
API_TOKEN=mc_2026_super_seguro_9xK!2
DEFAULT_COUNTRY_CODE=57
WHATSAPP_CLIENT_ID=matucash-main
MIN_SEND_DELAY_MS=5000
MAX_SEND_DELAY_MS=12000
SIMULATE_TYPING=true
HEADLESS=true
TRUST_PROXY=true
